@import "tailwindcss";

@font-face {
  font-family: 'm6x11plus';
  src: url('/fonts/m6x11plus.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-m6x11plus {
  font-family: 'm6x11plus', monospace;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 400;
  image-rendering: pixelated;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
}


/* Add to your global CSS */
.modal-open {
  overflow: hidden !important;
  pointer-events: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
